<template>
  <div class="sm mx-auto block container">
    <div class="landing-page-container">
      <!-- LOGIN -->
      <div class="navbar rounded-b-lg text-right shadow-lg relative">
        <button class="login-btn m-5">Login</button>
      </div>
      <!-- END LOGIN -->

      <!-- TITLE IMAGE CONTAINER -->
      <div class="title-image-container">
        <h1 class="title">Deine Job website</h1>
        <div class="img"></div>
      </div>
      <!-- END TITLE IMAGE CONTAINER -->

      <!-- REGISTRATION CONTAINER -->
      <div
        class="
          registration-container
          shadow-lg
          rounded-t-lg
          text-center
          relative
        "
      >
        <button class="registration-btn m-5 rounded-2xl">
          Kostenlos Registrieren
        </button>
      </div>
      <!-- END REGISTRATION CONTAINER -->
    </div>

    <!-- DETAILS -->
    <div class="details sm:block space-y-4">
      <div
        class="text-center strip-btn-container min-w-full"
      >
        <div class="flex scroll-strip-btns md:justify-center overflow-x-auto overscroll-auto">
          <button class="flex-shrink-0 work-btn" @click="activeId = 'workBtn'" :class="getActiveClass('workBtn')">Arbeitnehmer</button>
          <button class="flex-shrink-0 arbeit-btn" @click="activeId = 'arbeitBtn'" :class="getActiveClass('arbeitBtn')">Arbeitgeber</button>
          <button class="flex-shrink-0 temp-btn" @click="activeId = 'tempBtn'" :class="getActiveClass('tempBtn')">Temporarburo</button>
        </div>
      </div>

      <h3 class="text-2xl text-center details-title">
        Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
      </h3>

      <div class="block block-1">
        <div class="block profile-data-img float-right"></div>
        <div class="flex profile-data-title">
          <span class="flex-1 paragraph-number-1 text-9xl">1.</span>
          <span class="flex-2 paragraph-text-1 text-xl text-left"
            >Erstellen dein Unternehmensprofil</span
          >
        </div>
      </div>

      <div class="block-2-container">
        <svg
          viewBox="0 0 500 100"
          preserveAspectRatio="none"
          style="height: 5%; width: 100%"
        >
          <path
            d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #fff"
          ></path>
        </svg>

        <div class="block block-2">
          <div class="flex job-offers-title">
            <span class="flex-1 paragraph-number-2 text-9xl">2.</span>
            <span class="flex-2 paragraph-text-2 text-xl text-left"
              >Erhalte Vermittlungs-angebot von Arbeitgeber</span
            >
          </div>
          <div class="block job-offers-img float-right"></div>
        </div>

        <svg
          viewBox="0 0 500 100"
          preserveAspectRatio="none"
          style="height: 5%; width: 100%"
        >
          <path
            d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff"
          ></path>
        </svg>
      </div>

      <div class="block block-3">
        <div class="flex business-deal-title">
          <span class="flex-1 paragraph-number-3 text-9xl">3.</span>
          <span class="flex-2 paragraph-text-3 text-xl text-left"
            >Vermittlung nach Provision oder Stundenlohn</span
          >
        </div>
        <div class="block business-deal-img"></div>
      </div>
    </div>
    <!-- END DETAILS -->
  </div>
</template>

<script>
export default {
  data() {
    return {
    activeId: ''
    }
  },

  methods: {
    getActiveClass(id) {
  if (id === this.activeId) {
    return "active";
  } else {
    return this.activeId;
  }
}
  }
};
</script>

<style src="./style.css">
</style>