@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.container {
  margin-bottom: 150px;
}

/* LOGIN */
.navbar {
  height: 70px;
  width: 100%;
  background-color: #fff;
}

.login-btn {
  top: 31px;
  left: 304px;
  width: 39px;
  height: 19px;
  opacity: 1;
  color: #008000;
  background-color: transparent;
}
/* END LOGIN */

/* TITLE IMAGE CONTAINER */
.title-image-container {
  height: 100%;
  width: 100%;
  background-color: #e5ffff;
}

.title {
  top: 90px;
  left: 20px;
  width: 320px;
  height: 113px;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  font-family: inherit;
  font-weight: medium;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 1.26px;
  color: #2d3748;
  opacity: 1;
  margin: 0 auto;
  padding-top: 20px;
}

.img {
  top: 192px;
  left: -12px;
  width: 418px;
  height: 405px;
  background: transparent url("~assets/undraw_agreement_aajr.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
/* END TITLE IMAGE CONTAINER */

/* REGISTRATION CONTAINER */
.registration-container {
  height: 130px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 15px -10px #333;
  bottom: 30px;
  opacity: 2;
}

.registration-btn {
  bottom: 0;
  height: 45px;
  width: 90%;
  opacity: 2;
  color: #fff;
  background: #67b26f;
  background: -webkit-linear-gradient(to left, #4ca2cd, #46b9b0);
  background: linear-gradient(to left, #4ca2cd, #46b9b0);
}
/* END REGISTRATION CONTAINER */

/* STRIP BTN CONTAINER */
.active {
  background-color: #fff !important;
  color: #81e6d9 !important;
  border: 1.25px solid #81e6d9 !important;
  top: 711px !important;
  left: 180px !important;
  width: 161px !important;
  height: 40px !important;
  opacity: 1 !important;
}

.arbeit-btn {
  top: 711px;
  left: 180px;
  width: 161px;
  height: 40px;
  background: #81e6d9 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
  border: 1px solid #add8e6;
}

.work-btn {
  top: 711px;
  left: 180px;
  width: 161px;
  height: 40px;
  background: #81e6d9 0% 0% no-repeat padding-box;
  border-radius: 12px 0px 0px 12px;
  opacity: 1;
  color: #fff;
}

.temp-btn {
  top: 711px;
  left: 180px;
  width: 161px;
  height: 40px;
  background: #81e6d9 0% 0% no-repeat padding-box;
  border-radius: 0px 12px 12px 0px;
  opacity: 1;
  color: #fff;
}
/* END STRIP BTN CONTAINER */

/* DETAILS CAONTAINER */
.details-title {
  word-wrap: break-word;
  width: 80%;
  margin: 0 auto;
}

.block-1 {
  top: 845px;
  left: 20px;
  width: 345px;
  height: 254px;
  opacity: 1;
  margin: 0 auto;
}

.block-2-container {
  width: 100%;
  background-color: #e5ffff;
}

.block-2 {
  top: 1115px;
  left: 35px;
  height: 280px;
  opacity: 1;
}

.profile-data-title {
  padding-top: 120px;
}

.paragraph-number-1,
.paragraph-text-1,
.paragraph-number-2,
.paragraph-text-2,
.paragraph-number-3,
.paragraph-text-3 {
  font-family: inherit;
  color: #808080;
  display: inline;
}

.paragraph-text-1 {
  padding-top: 65px;
  padding-left: 25px;
}

.paragraph-text-2 {
  padding-top: 65px;
  padding-left: 20px;
}

.paragraph-text-3 {
  padding-top: 44px;
  padding-left: 20px;
}

.profile-data-img {
  top: 851px;
  left: 100px;
  width: 220px;
  height: 145px;
  background: transparent url("~assets/undraw_Profile_data_re_v81r.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.job-offers-img {
  top: 1258px;
  left: 102px;
  width: 218px;
  height: 148px;
  background: transparent url("~assets/undraw_job_offers_kw5d.svg") 0% 0%
    no-repeat padding-box;
  margin-right: 24px;
}

.job-offers-title {
  padding-left: 65px;
}

.paragraph-number-3 {
  padding-left: 85px;
}

.business-deal-img {
  top: 1570px;
  left: 55px;
  width: 250px;
  height: 190px;
  background: transparent url("~assets/undraw_business_deal_cpi9.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  margin: 0 auto;
  margin-top: 20px;
}

.scroll-strip-btns {
  margin-left: 25px;
  margin-right: 25px;
}
/* END DETAILS CAONTAINER */